

<html> 
<title> {{title}} </title> 

<body bgcolor='#EDFA07' style ="text-align:center;">


<nav><center><a href="https://www.khanacademy.org">HOME</a>|<a href="https://www.khanacademy.org/about">ABOUT</a> |<a href="https://www.khanacademy.org/login">LOGIN</a> |<a href="https://www.khanacademy.org/donate">DONATE</a></center></nav>



<h1 style='font-size:80px'> <center> {{title}} </center> </h1>




<center>
<img src=" {{ address }} " height="300px" width="300px"> </img>

</center>        

<b> <center><textarea rows="5" cols="100"> {{node.content}} </textarea></center> </b>





</body>
</html>
	


